@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-weight: 400;
  font-style: italic;

  margin: 0;
}
main {
  width: 50%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 0;
}
a {
  color: rgb(142, 200, 255);
}
section {
  margin-top: 5em;
}
article h2 {
  font-size: 2em;
  text-align: center;
}
article > div {
  text-align: justify;
  width: 100%;
}
article iframe {
  width: 100%;
  border-radius: 1em;
}
#immagine p {
  color: gray;
  font-size: 1em;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
#featured {
  border-left: 1px solid #ffcf7c;
  text-indent: 1em;
}
#featured p {
  margin: 0;
  color: red;
}
.nomenclatura {
  border-bottom: 1px solid rgba(61, 61, 255, 0.429);
}
